<script setup lang="ts">
import useGetIngredients from '../queries/getIngredients'

const ingredientsQuery = useGetIngredients()

</script>

<template>
    <ul v-if="ingredientsQuery.isSuccess">
        <li v-for="ingredient in ingredientsQuery.data.value?.data">{{ ingredient.name }}</li>
    </ul>
</template>

<style>
</style>