<script setup lang="ts">
import { ref } from 'vue'
import useAddRecipy from '../queries/addRecipes'
import useGetRecipes from '../queries/getRecipes'

const recipesQuery = useGetRecipes()
const recipyMutation = useAddRecipy()

const newName = ref('')

const submit = () => {
    recipyMutation.mutate({ name: newName.value })
    newName.value = ""
}
</script>

<template>
    <div>
        <TransitionGroup v-if="recipesQuery.isSuccess" name="recipes" tag="ul">
            <li v-for="recipy in recipesQuery.data.value?.data" :key="recipy.name">{{ recipy.name }}</li>
        </TransitionGroup>
        <form @submit.prevent="submit">
            <label for="name">New recipy name</label>
            <input type="text" id="name" v-model="newName" />
            <input type="submit" />
        </form>
    </div>
</template>

<style>
/* 1. declare transition */
.recipes-move,
.recipes-enter-active,
.recipes-leave-active {
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

/* 2. declare enter from and leave to state */
.recipes-enter-from,
.recipes-leave-to {
    opacity: 0;
    transform: scaleY(0.01) translate(30px, 0);
}

/* 3. ensure leaving items are taken out of layout flow so that moving
      animations can be calculated correctly. */
.recipes-leave-active {
    position: absolute;
}
</style>