<script setup lang="ts">
import { ref } from 'vue'
import { useQueryProvider } from 'vue-query'
import RecipyDisplay from './components/RecipyDisplay.vue'
import IngredientsDisplay from './components/IngredientsDisplay.vue'

useQueryProvider()
const text = ref('')
</script>

<template>
  <header>
    <h1>Cookbook</h1>
    <label>
      Search
      <input type="text" v-model="text" />
    </label>
    <p>{{ text }}</p>
  </header>
  <main>
    <div class="wrapper">
      <RecipyDisplay />
      <IngredientsDisplay />
    </div>
  </main>
</template>

<style>
header {
  background-color: #eceff4;
}
main {
  background-color: white;
  box-shadow: 0.1rem 0.1rem 0.2rem 0.01rem black;
  border-radius: 0.5rem;
  height: 100%;
  padding: 1rem;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
</style>
